doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='css/styles.css')
    title Naked Nudeles
  body
    .container
      nav
        ul
          //
            <li><img height="100px" src="imgs/cravebabes.jpg" alt=""></li>
            <li><img height="100px" src="imgs/sexyeyes.jpg" alt=""></li>
            <li><img height="100px" src="imgs/noodles.png" alt=""></li>
            <li><img height="100px" src="imgs/sexynoodlebath .jpg" alt=""></li>
            <li><img height="100px" src="imgs/poolnoodle.jpg" alt=""></li>
            <li><img height="100px" src="imgs/ramen.jpg" alt=""></li>
          // <li id="title"><h2>Crave Babes</h2></li>
          //
            <li>Crave Babes</li>
            <li>Babes</li>
            <li>About</li>
      section.main
        section.featured
          section.featured-gallery
            // Put some kind of carousel
            section.description
              h1 Hottest Noods 100% Guaranteed
            section.featured-image
              img(height='500px', width='300px', src='htlkj', alt='')
        section.babes
          section.babebox
            section.images
              img(src='sdfdjkl', width='200px', height='200px', alt='')
              section.name
                h4 Name:
                |               #{data.id}
              section.rating
                h5 Rating
                span ☆
                span ☆
                span ☆
                span ☆
                span ☆
            section.images
              img(src='sdfdjkl', width='200px', height='200px', alt='')
              section.name
                h4 Name
              section.rating
                h5 Rating
                span ☆
                span ☆
                span ☆
                span ☆
                span ☆
            section.images
              img(src='sdfdjkl', width='200px', height='200px', alt='')
              section.name
                h4 Name
              section.rating
                h5 Rating
                span ☆
                span ☆
                span ☆
                span ☆
                span ☆
            section.images
              img(src='sdfdjkl', width='200px', height='200px', alt='')
              section.name
                h4 Name
              section.rating
                h5 Rating
                span ☆
                span ☆
                span ☆
                span ☆
                span ☆
            section.images
              img(src='sdfdjkl', width='200px', height='200px', alt='')
              section.name
                h4 Name
              section.rating
                h5 Rating
                span ☆
                span ☆
                span ☆
                span ☆
                span ☆
            section.images
              img(src='sdfdjkl', width='200px', height='200px', alt='')
              section.name
                h4 Name
              section.rating
                h5 Rating
                span ☆
                span ☆
                span ☆
                span ☆
                span ☆
            section.images
              img(src='sdfdjkl', width='200px', height='200px', alt='')
              section.name
                h4 Name
              section.rating
                h5 Rating
                span ☆
                span ☆
                span ☆
                span ☆
                span ☆
            section.images
              img(src='sdfdjkl', width='200px', height='200px', alt='')
              section.name
                h4 Name
              section.rating
                h5 Rating
                span ☆
                span ☆
                span ☆
                span ☆
                span ☆
            section.images
              img(src='sdfdjkl', width='200px', height='200px', alt='')
              section.name
                h4 Name
              section.rating
                h5 Rating
                span ☆
                span ☆
                span ☆
                span ☆
                span ☆
            section.images
              img(src='sdfdjkl', width='200px', height='200px', alt='')
              section.name
                h4 Name
              section.rating
                h5 Rating
                span ☆
                span ☆
                span ☆
                span ☆
                span ☆
            section.images
              img(src='sdfdjkl', width='200px', height='200px', alt='')
              section.name
                h4 Name
              section.rating
                h5 Rating
                span ☆
                span ☆
                span ☆
                span ☆
                span ☆
            section.images
              img(src='sdfdjkl', width='200px', height='200px', alt='')
              section.name
                h4 Name
              section.rating
                h5 Rating
                span ☆
                span ☆
                span ☆
                span ☆
                span ☆
    script(src='js/index.js')
