doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='css/styles.css')
    title Document
  body
    .container
      section.right
        img(width='200px', src='imgs/ad1.jpg', alt='')
        img(width='200px', src='imgs/jp1.jpg', alt='')
        img(width='200px', src='imgs/jp3.jpg', alt='')
        img(width='200px', src='imgs/jp4.jpg', alt='')
        img(width='200px', src='imgs/ad2.jpg', alt='')
        img(width='200px', src='imgs/penpasta.jpg', alt='')
        img(width='200px', src='imgs/jp1.jpg', alt='')
      section.middle
        nav
          ul
            li
              img(height='100px', src='imgs/cravebabes.jpg', alt='')
            li
              img(height='100px', src='imgs/sexyeyes.jpg', alt='')
            li
              img(height='100px', src='imgs/noodles.png', alt='')
            li
              img(height='100px', src='imgs/poolnoodle.jpg', alt='')
            li
              img(height='100px', src='imgs/ramen.jpg', alt='')
            li
              img(height='100px', src='', alt='')
        section.main
          section#imagebox.featured
            section.featured-gallery
              // Put some kind of carousel
              section.description
                h1 Hottest Noods
                section.image-scroll
                  img(height='280px', src='imgs/sexynoodlebath .jpg', alt='')
                  //
                    <img height="200px" width="150px" src="imgs/poolnoodle.jpg" alt="">
                    <img height="200px" width="150px" src="" alt="">
              section.featured-image
                img(height='510px', width='300px', src='htlkj', alt='')
          section.babes
            section.hotwords
              h1 HOT
              img(height='100px', src='imgs/fire.jpg', alt='')
              img(height='100px', src='imgs/fire.jpg', alt='')
              img(height='100px', src='imgs/fire.jpg', alt='')
              img(height='100px', src='imgs/fire.jpg', alt='')
            section.babebox
              - for (var i = 0; i < data.length; i++) {
                  section.images
                    img(src='sdfdjkl', width='200px', height='200px', alt='')
                    section.name
                      h4 Name: #{data[i].description}
                    section.rating
                      h5 Rating: #{data[i].rating}
              - }

      section.left
        img(width='200px', src='imgs/ad1.jpg', alt='')
        img(width='200px', src='imgs/jp1.jpg', alt='')
        img(width='200px', src='imgs/jp3.jpg', alt='')
        img(width='200px', src='imgs/jp4.jpg', alt='')
        img(width='200px', src='imgs/ad2.jpg', alt='')
        img(width='200px', src='imgs/penpasta.jpg', alt='')
        img(width='200px', src='imgs/jp1.jpg', alt='')

    script(src='js/index.js')
