doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='css/styles.css')
    title Document
  body
    .container
      section.right
        img(width='200px', src='imgs/ad1.jpg', alt='')
        img(width='200px', src='imgs/jp1.jpg', alt='')
        img(width='200px', src='imgs/jp3.jpg', alt='')
        img(width='200px', src='imgs/jp4.jpg', alt='')
        img(width='200px', src='imgs/ad2.jpg', alt='')
        img(width='200px', src='imgs/penpasta.jpg', alt='')
        img(width='200px', src='imgs/jp1.jpg', alt='')
      section.middle
        nav
          ul
            li
              img(height='100px', src='imgs/cravebabes.jpg', alt='')
            li
              img(height='100px', src='imgs/sexyeyes.jpg', alt='')
            li
              img(height='100px', src='imgs/noodles.png', alt='')
            li
              img(height='100px', src='imgs/poolnoodle.jpg', alt='')
            li
              img(height='100px', src='imgs/ramen.jpg', alt='')
            li
              img(height='100px', src='', alt='')
        section.main
          section#imagebox.featured
            section.featured-gallery
              // Put some kind of carousel
              section.description
                h1 Hottest Noods
                section.image-scroll
                  img(height='280px', src='imgs/sexynoodlebath .jpg', alt='')
                  //
                    <img height="200px" width="150px" src="imgs/poolnoodle.jpg" alt="">
                    <img height="200px" width="150px" src="" alt="">
              section.featured-image
                img(height='510px', width='300px', src='htlkj', alt='')
          section.babes
            section.hotwords
              h1 HOT
              img(height='100px', src='imgs/fire.jpg', alt='')
              img(height='100px', src='imgs/fire.jpg', alt='')
              img(height='100px', src='imgs/fire.jpg', alt='')
              img(height='100px', src='imgs/fire.jpg', alt='')
            section.babebox
              section.images
                img(src='sdfdjkl', width='200px', height='200px', alt='')
                section.name
                  h4 Name
                section.rating
                  h5 Rating
                  form
                    fieldset.rating-box
                      input#star5(type='radio', name='rating', value='5')
                      label(for='star5', title='Rocks!')
                      input#star4(type='radio', name='rating', value='4')
                      label(for='star4', title='Pretty good')
                      input#star3(type='radio', name='rating', value='3')
                      label(for='star3', title='Meh')
                      input#star2(type='radio', name='rating', value='2')
                      label(for='star2', title='Kinda bad')
                      input#star1(type='radio', name='rating', value='1')
                      label(for='star1', title='Sucks big time')
              section.images
                img(src='sdfdjkl', width='200px', height='200px', alt='')
                section.name
                  h4 Name
                section.rating
                  h5 Rating
                  form
                    fieldset.rating-box
                      input#star5-2(type='radio', name='rating', value='5')
                      label(for='star5-2', title='Rocks!')
                      input#star4-2(type='radio', name='rating', value='4')
                      label(for='star4-2', title='Pretty good')
                      input#star3-2(type='radio', name='rating', value='3')
                      label(for='star3-2', title='Meh')
                      input#star2-2(type='radio', name='rating', value='2')
                      label(for='star2-2', title='Kinda bad')
                      input#star1-2(type='radio', name='rating', value='1')
                      label(for='star1-2', title='Sucks big time')
              section.images
                img(src='sdfdjkl', width='200px', height='200px', alt='')
                section.name
                  h4 Name
                section.rating
                  h5 Rating
                  form
                    fieldset.rating-box
                      input#star5-3(type='radio', name='rating', value='5')
                      label(for='star5-3', title='Rocks!')
                      input#star4-3(type='radio', name='rating', value='4')
                      label(for='star4-3', title='Pretty good')
                      input#star3-3(type='radio', name='rating', value='3')
                      label(for='star3-3', title='Meh')
                      input#star2-3(type='radio', name='rating', value='2')
                      label(for='star2-3', title='Kinda bad')
                      input#star1-3(type='radio', name='rating', value='1')
                      label(for='star1-3', title='Sucks big time')
              section.images
                img(src='sdfdjkl', width='200px', height='200px', alt='')
                section.name
                  h4 Name
                section.rating
                  h5 Rating
                  form
                    fieldset.rating-box
                      input#star5-4(type='radio', name='rating', value='5')
                      label(for='star5-4', title='Rocks!')
                      input#star4-4(type='radio', name='rating', value='4')
                      label(for='star4-4', title='Pretty good')
                      input#star3-4(type='radio', name='rating', value='3')
                      label(for='star3-4', title='Meh')
                      input#star2-4(type='radio', name='rating', value='2')
                      label(for='star2-4', title='Kinda bad')
                      input#star1-4(type='radio', name='rating', value='1')
                      label(for='star1-4', title='Sucks big time')
              section.images
                img(src='sdfdjkl', width='200px', height='200px', alt='')
                section.name
                  h4 Name
                section.rating
                  h5 Rating
                  form
                    fieldset.rating-box
                      input#star5-5(type='radio', name='rating', value='5')
                      label(for='star5-5', title='Rocks!')
                      input#star4-5(type='radio', name='rating', value='4')
                      label(for='star4-5', title='Pretty good')
                      input#star3-5(type='radio', name='rating', value='3')
                      label(for='star3-5', title='Meh')
                      input#star2-5(type='radio', name='rating', value='2')
                      label(for='star2-5', title='Kinda bad')
                      input#star1-5(type='radio', name='rating', value='1')
                      label(for='star1-5', title='Sucks big time')
              section.images
                img(src='sdfdjkl', width='200px', height='200px', alt='')
                section.name
                  h4 Name
                section.rating
                  h5 Rating
                  form
                    fieldset.rating-box
                      input#star5-6(type='radio', name='rating', value='5')
                      label(for='star5-6', title='Rocks!')
                      input#star4-6(type='radio', name='rating', value='4')
                      label(for='star4-6', title='Pretty good')
                      input#star3-6(type='radio', name='rating', value='3')
                      label(for='star3-6', title='Meh')
                      input#star2-6(type='radio', name='rating', value='2')
                      label(for='star2-6', title='Kinda bad')
                      input#star1-6(type='radio', name='rating', value='1')
                      label(for='star1-6', title='Sucks big time')
              section.images
                img(src='sdfdjkl', width='200px', height='200px', alt='')
                section.name
                  h4 Name
                section.rating
                  h5 Rating
                  form
                    fieldset.rating-box
                      input#star5-7(type='radio', name='rating', value='5')
                      label(for='star5-7', title='Rocks!')
                      input#star4-7(type='radio', name='rating', value='4')
                      label(for='star4-7', title='Pretty good')
                      input#star3-7(type='radio', name='rating', value='3')
                      label(for='star3-7', title='Meh')
                      input#star2-7(type='radio', name='rating', value='2')
                      label(for='star2-7', title='Kinda bad')
                      input#star1-7(type='radio', name='rating', value='1')
                      label(for='star1-7', title='Sucks big time')
              section.images
                img(src='sdfdjkl', width='200px', height='200px', alt='')
                section.name
                  h4 Name
                section.rating
                  h5 Rating
                  form
                    fieldset.rating-box
                      input#star5-8(type='radio', name='rating', value='5')
                      label(for='star5-8', title='Rocks!')
                      input#star4-8(type='radio', name='rating', value='4')
                      label(for='star4-8', title='Pretty good')
                      input#star3-8(type='radio', name='rating', value='3')
                      label(for='star3-8', title='Meh')
                      input#star2-8(type='radio', name='rating', value='2')
                      label(for='star2-8', title='Kinda bad')
                      input#star1-8(type='radio', name='rating', value='1')
                      label(for='star1-8', title='Sucks big time')
              section.images
                img(src='sdfdjkl', width='200px', height='200px', alt='')
                section.name
                  h4 Name
                section.rating
                  h5 Rating
                  form
                    fieldset.rating-box
                      input#star5-9(type='radio', name='rating', value='5')
                      label(for='star5-9', title='Rocks!')
                      input#star4-9(type='radio', name='rating', value='4')
                      label(for='star4-9', title='Pretty good')
                      input#star3-9(type='radio', name='rating', value='3')
                      label(for='star3-9', title='Meh')
                      input#star2-9(type='radio', name='rating', value='2')
                      label(for='star2-9', title='Kinda bad')
                      input#star1-9(type='radio', name='rating', value='1')
                      label(for='star1-9', title='Sucks big time')
              section.images
                img(src='sdfdjkl', width='200px', height='200px', alt='')
                section.name
                  h4 Name
                section.rating
                  h5 Rating
                  form
                    fieldset.rating-box
                      input#star5-10(type='radio', name='rating', value='5')
                      label(for='star5-10', title='Rocks!')
                      input#star4-10(type='radio', name='rating', value='4')
                      label(for='star4-10', title='Pretty good')
                      input#star3-10(type='radio', name='rating', value='3')
                      label(for='star3-10', title='Meh')
                      input#star2-10(type='radio', name='rating', value='2')
                      label(for='star2-10', title='Kinda bad')
                      input#star1-10(type='radio', name='rating', value='1')
                      label(for='star1-10', title='Sucks big time')
              section.images
                img(src='sdfdjkl', width='200px', height='200px', alt='')
                section.name
                  h4 Name
                section.rating
                  h5 Rating
                  form
                    fieldset.rating-box
                      input#star5-11(type='radio', name='rating', value='5')
                      label(for='star5-11', title='Rocks!')
                      input#star4-11(type='radio', name='rating', value='4')
                      label(for='star4-11', title='Pretty good')
                      input#star3-11(type='radio', name='rating', value='3')
                      label(for='star3-11', title='Meh')
                      input#star2-11(type='radio', name='rating', value='2')
                      label(for='star2-11', title='Kinda bad')
                      input#star1-11(type='radio', name='rating', value='1')
                      label(for='star1-11', title='Sucks big time')
              section.images
                img(src='sdfdjkl', width='200px', height='200px', alt='')
                section.name
                  h4 Name
                section.rating
                  h5 Rating
                  form
                    fieldset.rating-box
                      input#star5-12(type='radio', name='rating', value='5')
                      label(for='star5-12', title='Rocks!')
                      input#star4-12(type='radio', name='rating', value='4')
                      label(for='star4-12', title='Pretty good')
                      input#star3-12(type='radio', name='rating', value='3')
                      label(for='star3-12', title='Meh')
                      input#star2-12(type='radio', name='rating', value='2')
                      label(for='star2-12', title='Kinda bad')
                      input#star1-12(type='radio', name='rating', value='1')
                      label(for='star1-12', title='Sucks big time')
      section.left
        img(width='200px', src='imgs/ad1.jpg', alt='')
        img(width='200px', src='imgs/jp1.jpg', alt='')
        img(width='200px', src='imgs/jp3.jpg', alt='')
        img(width='200px', src='imgs/jp4.jpg', alt='')
        img(width='200px', src='imgs/ad2.jpg', alt='')
        img(width='200px', src='imgs/penpasta.jpg', alt='')
        img(width='200px', src='imgs/jp1.jpg', alt='')

    script(src='js/index.js')
