//- doctype html
//- html(lang='en')
//-   head
//-     meta(charset='UTF-8')
//-     meta(name='viewport', content='width=device-width, initial-scale=1.0')
//-     meta(http-equiv='X-UA-Compatible', content='ie=edge')
//-     link(rel='stylesheet', href='css/styles.css')
//-     title Naked Nudeles
//-   body
//-     .container
//-       nav
//-         ul
//-           //
//-             <li><img height="100px" src="imgs/cravebabes.jpg" alt=""></li>
//-             <li><img height="100px" src="imgs/sexyeyes.jpg" alt=""></li>
//-             <li><img height="100px" src="imgs/noodles.png" alt=""></li>
//-             <li><img height="100px" src="imgs/sexynoodlebath .jpg" alt=""></li>
//-             <li><img height="100px" src="imgs/poolnoodle.jpg" alt=""></li>
//-             <li><img height="100px" src="imgs/ramen.jpg" alt=""></li>
//-           // <li id="title"><h2>Crave Babes</h2></li>
//-           //
//-             <li>Crave Babes</li>
//-             <li>Babes</li>
//-             <li>About</li>
//-       section.main
//-         section.featured
//-           section.featured-gallery
//-             // Put some kind of carousel
//-             section.description
//-               h1 Hottest Noods 100% Guaranteed
//-             section.featured-image
//-               img(height='500px', width='300px', src='htlkj', alt='')
//-         section.babes
//-           section.babebox
//-             section.images
//-               img(src='sdfdjkl', width='200px', height='200px', alt='')
//-               section.name
//-                 h4 Name:
//-               section.rating
//-                 h5 Rating
//-                 span ☆
//-                 span ☆
//-                 span ☆
//-                 span ☆
//-                 span ☆
//-             section.images
//-               img(src='sdfdjkl', width='200px', height='200px', alt='')
//-               section.name
//-                 h4 Name
//-               section.rating
//-                 h5 Rating
//-                 span ☆
//-                 span ☆
//-                 span ☆
//-                 span ☆
//-                 span ☆
//-             section.images
//-               img(src='sdfdjkl', width='200px', height='200px', alt='')
//-               section.name
//-                 h4 Name
//-               section.rating
//-                 h5 Rating
//-                 span ☆
//-                 span ☆
//-                 span ☆
//-                 span ☆
//-                 span ☆
//-             section.images
//-               img(src='sdfdjkl', width='200px', height='200px', alt='')
//-               section.name
//-                 h4 Name
//-               section.rating
//-                 h5 Rating
//-                 span ☆
//-                 span ☆
//-                 span ☆
//-                 span ☆
//-                 span ☆
//-             section.images
//-               img(src='sdfdjkl', width='200px', height='200px', alt='')
//-               section.name
//-                 h4 Name
//-               section.rating
//-                 h5 Rating
//-                 span ☆
//-                 span ☆
//-                 span ☆
//-                 span ☆
//-                 span ☆
//-             section.images
//-               img(src='sdfdjkl', width='200px', height='200px', alt='')
//-               section.name
//-                 h4 Name
//-               section.rating
//-                 h5 Rating
//-                 span ☆
//-                 span ☆
//-                 span ☆
//-                 span ☆
//-                 span ☆
//-             section.images
//-               img(src='sdfdjkl', width='200px', height='200px', alt='')
//-               section.name
//-                 h4 Name
//-               section.rating
//-                 h5 Rating
//-                 span ☆
//-                 span ☆
//-                 span ☆
//-                 span ☆
//-                 span ☆
//-             section.images
//-               img(src='sdfdjkl', width='200px', height='200px', alt='')
//-               section.name
//-                 h4 Name
//-               section.rating
//-                 h5 Rating
//-                 span ☆
//-                 span ☆
//-                 span ☆
//-                 span ☆
//-                 span ☆
//-             section.images
//-               img(src='sdfdjkl', width='200px', height='200px', alt='')
//-               section.name
//-                 h4 Name
//-               section.rating
//-                 h5 Rating
//-                 span ☆
//-                 span ☆
//-                 span ☆
//-                 span ☆
//-                 span ☆
//-             section.images
//-               img(src='sdfdjkl', width='200px', height='200px', alt='')
//-               section.name
//-                 h4 Name
//-               section.rating
//-                 h5 Rating
//-                 span ☆
//-                 span ☆
//-                 span ☆
//-                 span ☆
//-                 span ☆
//-             section.images
//-               img(src='sdfdjkl', width='200px', height='200px', alt='')
//-               section.name
//-                 h4 Name
//-               section.rating
//-                 h5 Rating
//-                 span ☆
//-                 span ☆
//-                 span ☆
//-                 span ☆
//-                 span ☆
//-             section.images
//-               img(src='sdfdjkl', width='200px', height='200px', alt='')
//-               section.name
//-                 h4 Name
//-               section.rating
//-                 h5 Rating
//-                 span ☆
//-                 span ☆
//-                 span ☆
//-                 span ☆
//-                 span ☆
//-     script(src='js/index.js')

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='css/styles.css')
    title Document
  body
    .container
      section.right
        img(width='200px', src='imgs/ad1.jpg', alt='')
        img(width='200px', src='imgs/jp1.jpg', alt='')
        img(width='200px', src='imgs/jp3.jpg', alt='')
        img(width='200px', src='imgs/jp4.jpg', alt='')
        img(width='200px', src='imgs/ad2.jpg', alt='')
        img(width='200px', src='imgs/penpasta.jpg', alt='')
        img(width='200px', src='imgs/jp1.jpg', alt='')
      section.middle
        nav
          ul
            li
              img(height='100px', src='imgs/cravebabes.jpg', alt='')
            li
              img(height='100px', src='imgs/sexyeyes.jpg', alt='')
            li
              img(height='100px', src='imgs/noodles.png', alt='')
            li
              img(height='100px', src='imgs/poolnoodle.jpg', alt='')
            li
              img(height='100px', src='imgs/ramen.jpg', alt='')
            li
              img(height='100px', src='', alt='')
        section.main
          section#imagebox.featured
            section.featured-gallery
              // Put some kind of carousel
              section.description
                h1 Hottest Noods
                section.image-scroll
                  img(height='280px', src='imgs/sexynoodlebath .jpg', alt='')
                  //
                    <img height="200px" width="150px" src="imgs/poolnoodle.jpg" alt="">
                    <img height="200px" width="150px" src="" alt="">
              section.featured-image
                img(height='510px', width='300px', src='htlkj', alt='')
          section.babes
            section.hotwords
              h1 HOT
              img(height='100px', src='imgs/fire.jpg', alt='')
              img(height='100px', src='imgs/fire.jpg', alt='')
              img(height='100px', src='imgs/fire.jpg', alt='')
              img(height='100px', src='imgs/fire.jpg', alt='')
            section.babebox
              section.images
                img(src='sdfdjkl', width='200px', height='200px', alt='')
                section.name
                  h4 Name
                section.rating
                  h5 Rating
              section.images
                img(src='sdfdjkl', width='200px', height='200px', alt='')
                section.name
                  h4 Name
                section.rating
                  h5 Rating
              section.images
                img(src='sdfdjkl', width='200px', height='200px', alt='')
                section.name
                  h4 Name
                section.rating
                  h5 Rating
              section.images
                img(src='sdfdjkl', width='200px', height='200px', alt='')
                section.name
                  h4 Name
                section.rating
                  h5 Rating
              section.images
                img(src='sdfdjkl', width='200px', height='200px', alt='')
                section.name
                  h4 Name
                section.rating
                  h5 Rating
              section.images
                img(src='sdfdjkl', width='200px', height='200px', alt='')
                section.name
                  h4 Name
                section.rating
                  h5 Rating
              section.images
                img(src='sdfdjkl', width='200px', height='200px', alt='')
                section.name
                  h4 Name
                section.rating
                  h5 Rating
              section.images
                img(src='sdfdjkl', width='200px', height='200px', alt='')
                section.name
                  h4 Name
                section.rating
                  h5 Rating
              section.images
                img(src='sdfdjkl', width='200px', height='200px', alt='')
                section.name
                  h4 Name
                section.rating
                  h5 Rating
              section.images
                img(src='sdfdjkl', width='200px', height='200px', alt='')
                section.name
                  h4 Name
                section.rating
                  h5 Rating
              section.images
                img(src='sdfdjkl', width='200px', height='200px', alt='')
                section.name
                  h4 Name
                section.rating
                  h5 Rating
              section.images
                img(src='sdfdjkl', width='200px', height='200px', alt='')
                section.name
                  h4 Name
                section.rating
                  h5 Rating
      section.left
        img(width='200px', src='imgs/kingsize.jpg', alt='')
        img(width='200px', src='imgs/jp2.jpeg', alt='')
        img(width='200px', src='imgs/jp2.jpeg', alt='')
        img(width='200px', src='imgs/jp2.jpeg', alt='')
        img(width='200px', src='imgs/jp2.jpeg', alt='')
        img(width='200px', src='imgs/jp2.jpeg', alt='')
    script(src='js/index.js')
