html, body, p, ul, h1, h2, h3, h4, h5 {
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5 {
  color: rgb(30,30,30);
}



.container {
  height: 2000px;
  width; auto;
  background-color: black;
}

nav {
  height: 100px;
  width: inherit;
  /*background-color: orange;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  height: 30px;
  width: 200px;
  /*background-color: brown;*/
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  font-size: 30px;
}

.main {
  height: 800px;
  width: auto;
  /*background-color: pink;*/
}

.featured {
  height: 500px;
  width: auto;
  /*background-color: red;*/
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.featured-gallery {
  height: inherit;
  width: 80%;
  /*background-color: teal;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.featured-gallery .description h1 {
  color: rgb(70,0,0);
}

.description {
  height: auto;
  width: 500px;
  display: flex;
  /*background-color: yellow;*/
  font-size: 100px;
}

.babes {
  height: 1200px;
  width: auto;
  /*background-color: purple;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.category {
  height: 400px;
  width: auto;
  /*background-color: orange;*/
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.category-title {
  height: 20px;
  width: 800px;
  /*background-color: brown;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;


}

.babebox {
  height: 1000px;
  width: 900px;
  /*background-color: blue;*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: scroll;
}

.images {
  height: 300px;
  width: 200px;
  /*background-color: red;*/
  margin-left: 10px;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.rating {
  text-align: center;
}

fieldset {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
fieldset:not(:checked) > input {
    position:absolute;
    /*top:-9999px;*/
    clip:rect(0,0,0,0);
}

fieldset:not(:checked) > label {
    float:right;
    width:1em;
    /*padding:0 .1em;*/
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
}

fieldset:not(:checked) > label:before {
    content: '🍜 ';
    filter: grayscale(100%);
}

fieldset > input:checked ~ label:before {
    /*color: #f70;*/
    filter: grayscale(0%);
}

fieldset:not(:checked) > label:hover:before,
fieldset:not(:checked) > label:hover ~ label:before {
    /*color: gold;*/
    filter: grayscale(0%);
}

fieldset > input:checked + label:hover,
fieldset > input:checked + label:hover ~ label:before,
fieldset > input:checked ~ label:hover,
fieldset > input:checked ~ label:hover ~ label:before,
fieldset > label:hover ~ input:checked ~ label:before {
    /*color: #ea0;*/
    filter: grayscale(0%);
}

fieldset > label:active {
    position:relative;
    top:2px;
    left:2px;
}